@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Almeda Normal';
  src: url('/Users/yshru/WebsiteTailwindVite/my-project/public/ameda-font/Almeda.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Almeda Bold';
  src: url('/Users/yshru/WebsiteTailwindVite/my-project/public/ameda-font/Almeda.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Florence Normal';
  src: url('/Users/yshru/WebsiteTailwindVite/my-project/public/florence-font/Florence.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Almeda Normal';
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212020;
  overflow-x: hidden;
}

