@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Camellia Signature';
  src: url('CamelliaFont/Camellia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Camellia Signature', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212020;
  overflow-x: hidden;
}

